body {
  font-family: "Inter", sans-serif;
  padding-bottom: 100px;
}

.navbar-item {
  color: #344563;
}

.navbar-item:hover {
  color: #344563;
  text-decoration: none;
}

.backdrop {
  background-image:
    url("../images/line.svg"),
    url("../images//line2.svg"),
    url("../images/line3.svg"),
    url("../images/line4.svg"),
    url("../images/line5.svg"),
    url("../images/line6.svg"),
    url("../images/line7.svg"),
    url("../images/line8.svg"),
    url("../images/line9.svg"),
    url("../images/line10.svg"),
    url("../images/line11.svg"),
    url("../images//line12.svg"),
    url("../images/line13.svg"),
    url("../images/line14.svg"),
    url("../images/group.svg"),
    url("../images/group2.svg"),
    url("../images/group3.svg"),
    url("../images/group4.svg"),
    url("../images/group5.svg"),
    url("../images/group6.svg");
  background-repeat: no-repeat;
  background-position:
    left 15% top 0,
    left 30% top 0,
    right 20% top 0,
    right 10% top 20%,
    right 10% top 40%,
    right 15% top 60%,
    right 25% top 80%,
    right 38% top 90%,
    left 50% top 90%,
    left 40% top 90%,
    left 25% top 80%,
    left 10% top 60%,
    left 7% top 40%,
    left 7% top 20%,
    left 2% top 10%,
    right -2% top 5%,
    left 10% top 50%,
    left 40% top 55%,
    right 20% top 60%,
    right 10% top -7%;
  height: 1000px;
  position: absolute;
}

.intro h1,
.intro h2 {
  font-size: 40px;
  font-weight: 700;
}

.intro h1 {
  color: #172b4d;
}

.intro h2 {
  color: #36b37e;
}

.socials ul {
  margin-top: -3%;
  list-style-type: none;
  padding: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

#works {
  margin-top: 55%;
}

.about-me h3,
.works h2 {
  font-size: 40px;
}

.about-text {
  font-size: 20px;
  line-height: 32px;
  padding: 0 45px;
}

.skills-card {
  background-color: #ebf0ee;
}

.skills-card button {
  background-color: #fff;
  color: #36b37e;
  border: none;
}

.skill-img {
  width: 50px;
  margin: auto;
}
